<footer class = "site-footer">

  <!-- <div id="wrapper"> -->
    <!-- <div id="page-content-wrapper"> -->
   <div class="container-fluid">
       <div class="row">
        <div class="col-sm-4">
          
          <ul class="contact-list">
            <li>{{ site.title }}</li>
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          </ul>

        </div> 
        <div class="col-sm-8">
        <p class="text">{{ site.description }}</p>
        </div>
    </div>      
  </div>

</footer>
