---
layout: default
---
<!-- <div class="home"> -->

  <div class="container-fluid main-container">
  <!-- <ul class="post-list"> -->

    {% for post in site.portfolios %}
      <!-- <li> -->
    <h3>
       <!-- <a href="{{ post.url | prepend: site.baseurl }}"> -->
       {{ post.title }}
       <!-- </a> -->
    </h3>
    <div class="row portfolio">    
     <div class="col-sm-8 benefits">   
     {{post.content}}
     </div>
     <div class="col-sm-4">
        <img class="portfolio-image" src="{{post.image}}">   
     </div>   
    </div>    

      <!-- </li> -->
    {% endfor %}
  <!-- </ul> -->

</div>
<br>
<br>
<!-- </div> -->